.product{
    padding: 20px 50px;
    display: flex;
    gap: 50px;
}
.product .left{
    flex: 1;
    display: flex;
    gap: 20px;

}
.product .left .images{
    flex: 1;
}
.product .left .images img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    margin-right: 10px;
}
.product .mainImage{
    flex: 5;
}
.product .mainImage img{
    width: 100%;
    max-height: 800px;
    object-fit: cover;
}
.product .right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.product .price{
    font-size: 30px;
    color: blue;
    font-weight: 500;
}
.product p{
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
}
.product .quantity{
    display: flex;
    align-items: center;
    gap: 10px;
}
.product button{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer
}
.product .add{
    width: 250px;
    padding: 10px;
    background-color: blue;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    border: none;
    font-weight: 500;
}
.product .link{
    display: flex;
    gap: 20px;
}
.product .link .item{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #2879fe ;
}
.product .info{
    display: flex;
    flex-direction: column;
}


